@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@800&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: cadetblue */
}

html {
  scroll-behavior: smooth;
}

.logo {
  max-width: auto;
  max-height: 90px;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(0, 0, 0);
  position: fixed;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(14, 206, 65);
}

button {
  padding: 9px 25px;
  background-color: rbga(0, 136, 160, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(73, 120, 61);
}

.slider {
  width: 1536px;
  margin: 0 auto;

  overflow: hidden;
  position: relative;
  top: 80px;
}

.chuyen_slide {
  width: 9999px;
  transition: all 0.5s;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  width: 512px;
  height: 341px;
  float: left;
}

.dh1 {
  font-size: 50px;
  position: relative;
  left: 0px;
  top: 210px;
  background: local;
  max-height: 51px;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  opacity: 0.5;
}

.dh2 {
  font-size: 51px;
  position: relative;
  left: 1410px;
  top: 210px;
  background: local;
  max-height: 51px;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  opacity: 0.5;
}

.lienhe {
  font-size: 25px;
}

.logo1 {
  opacity: 0.2;
  position: relative;
  text-align: center;
  display: inline-block;
  top: 300px;
  left: 51%;
  transform: translate(-50%, -50%);
}

.vect1 {
  position: relative;
  color: #000;
  font-size: 16px;
}

.text1 {
  position: absolute;
  top: 42%;
  left: 5%;
  padding-left: 20%;
  padding-right: 22%;

  background: local;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(30, 128, 11);
  text-decoration: none;
  font-weight: 400;
  text-align: justify;
  line-height: 1.75;
}

footer {
  margin-top: 170px;
  background-color: ivory;
  color: ivory;
  max-height: 200px;
  justify-content: center;
  border-top: 2px solid rgb(0, 0, 0);
  list-style-type: none
}

.footer-wrapper {
  display: flow-root;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  position: absolute;
  flex-basis: 30%;
  margin-top: 30px ;
  margin-bottom: 20px;
  margin-left: 400px;
}

.footer-column1 {
  position: relative;
  flex-basis: 30%;
  margin-bottom: 20px;
  margin-top:20px ;
  margin-left: 750px;
}
.footer-column h3 {
  margin-bottom: 10px;
}


.footer-bottom {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  background-color: cadetblue;
  color: #000000;
  padding: 0px 0;
  text-align: center;
}