@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@800&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: cadetblue */
}

html {
    scroll-behavior: smooth;
}

.logo {
    max-width: auto;
    max-height: 90px;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(0, 0, 0);
    position: fixed;
    z-index: 100;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: rgb(14, 206, 65);

}

:root {
  font-size: 16px;
}

section {
  font-family: "Quicksand";
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
  font-weight: bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.grid figure {
  margin: 1rem;
  position: relative;
}
.grid figure figcaption {
  background: rgba(250, 250, 250, 0.8);
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 1rem;
  -webkit-transition: max-height 0.3s ease-out;
  overflow: hidden;
}
.grid figure p {
  margin-top: 0.5rem;
}
.grid img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 701px) {
  figure {
    width: calc(50% - 2rem);
  }
  figure figcaption {
    height: 50px;
  }
  figure:hover figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: height 0.5s ease-in;
  }
  figure:hover p {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.6s;
  }

  p {
    opacity: 0;
  }
}
@media screen and (max-width: 700px) {
  figure {
    width: 100%;
  }

  p {
    opacity: 1;
  }

  figcaption {
    height: auto;
  }
}
footer {
  margin-top: 150px;
  background-color: ivory;
  color: ivory;
  max-height: 200px;
  justify-content: center;
  border-top: 2px solid rgb(0, 0, 0);
  list-style-type: none
}

.footer-wrapper {
  display: flow-root;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  position: absolute;
  flex-basis: 30%;
  margin-top: 30px ;
  margin-bottom: 20px;
  margin-left: 400px;
}

.footer-column1 {
  position: relative;
  flex-basis: 30%;
  margin-bottom: 20px;
  margin-top:20px ;
  margin-left: 750px;
}
.footer-column h3 {
  margin-bottom: 10px;
}


.footer-bottom {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  background-color: cadetblue;
  color: #000000;
  padding: 0px 0;
  text-align: center;
}