/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@800&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: cadetblue */
}

html {
    scroll-behavior: smooth;
}

.logo {
    max-width: auto;
    max-height: 90px;

}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(0, 0, 0);
    position: sticky;
    z-index: 100;
    height: 120px;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: rgb(14, 206, 65);

}

/*
=====
DEPENDENCES
=====
*/

/* 
helper to reset default browser's styles from headings
*/

.r-title {
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader {
    width: var(--screenReaderWidth, 1px) !important;
    height: var(--screenReaderHeight, 1px) !important;
    padding: var(--screenReaderPadding, 0) !important;
    border: var(--screenReaderBorder, none) !important;

    position: var(--screenReaderPosition, absolute) !important;
    clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
    overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target) {
    display: none;
}

.popup:target {
    width: 100%;
    height: 100vh;

    display: flex;

    position: fixed;
    top: 0;
    right: 0;
}

.popup::before {
    content: "";
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;

    position: fixed;
    left: 0;
    top: 50%;
}

.popup::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #f0f0f0;

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.popup__container {
    box-sizing: border-box;
    padding: 5% 15%;

    height: calc(100vh - 40px);
    /* 1 */
    margin: auto;
    /* 1 */
    overflow: auto;
    /* 1 */
    overscroll-behavior: contain;
    /* 1 */
}

.popup__title {
    --rTitleMarginBottom: 1.5rem;
    font-size: 1.5rem;
}

.popup__close {
    width: 2rem;
    height: 2rem;

    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before {
    will-change: height, top;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after {
    will-change: width, opacity;
    animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation {

    0% {
        width: 0;
        opacity: 1;
    }

    99% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes open-animation {

    0% {
        height: 0;
        top: 50%;
    }

    100% {
        height: 100vh;
        top: 0;
    }
}

.popup__container {
    animation: fade .5s ease-out 1.3s both;
}

@keyframes fade {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
=====
DEMO
=====
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    color: #222;
    background-color: cadetblue;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.5;
}

p:nth-child(n+2) {
    margin-top: 1rem;
}

.open-popup1 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    height: 75px;
    width: fit-content;
    border: 1px ;
}
.open-popup1:hover {
    background-color:aquamarine
}

.open-popup2 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    height: 15px;
    width: fit-content;
    border: 1px ;
}


.open-popup3 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    height: 15px;
    width: fit-content;
    border: 1px ;
}

.page {
    min-height: fit-content;
    display: flex;
}

.page__container {
    max-width: 1200px;
    padding-left: .75rem;
    padding-right: .75rem;
    margin: auto;
}

footer {
    margin-top: 150px;
    background-color: ivory;
    color: ivory;
    max-height: 200px;
    justify-content: center;
    border-top: 2px solid rgb(0, 0, 0);
    list-style-type: none
  }
  
  .footer-wrapper {
    display: flow-root;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    position: absolute;
    flex-basis: 30%;
    margin-top: 30px ;
    margin-bottom: 20px;
    margin-left: 400px;
  }
  
  .footer-column1 {
    position: relative;
    flex-basis: 30%;
    margin-bottom: 20px;
    margin-top:20px ;
    margin-left: 750px;
  }
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  
  .footer-bottom {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    background-color: cadetblue;
    color: #000000;
    padding: 0px 0;
    text-align: center;
  }